* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ba8bffd2;
}
.wrapper {
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editor-container,
.preview-container {
  display: block;
  position: relative;
  width: 100%;
  background-color: #d4ecff;
  padding: 2em 1em;
  box-shadow: 0 1.25em 4em #08064b26;
  border-radius: 0.5em;
}
.editor-container {
  margin: 0 0.6em 0 0;
}
.preview-container {
  display: grid;
  place-items: center;
}
input[type="file"] {
  display: none;
}
label {
  display: block;
  background-color: #025bee;
  color: #ffffff;
  width: 10em;
  font-size: 1em;
  text-align: center;
  padding: .5em 0;
  border-radius: 0.3em;
  margin: auto;
  cursor: pointer;
}
